#!/usr/bin/make -f

#export PYBUILD_DESTDIR_python=debian/qmusic/
#
#%:
#	dh $@ --with python  --buildsystem=pybuild
#	#dh $@ --with python  --buildsystem=python_distutils
#
#build-indep:
#	dh_installdirs
#

export USER=fake
export HOME=$(CURDIR)/debian/fake-home

$(CURDIR)/debian/fake-home:
	mkdir $(CURDIR)/debian/fake-home

%: $(CURDIR)/debian/fake-home
	dh $@ --with python2 --buildsystem=python_distutils

override_dh_auto_test:
	# Disable as it requires an X display

override_dh_auto_install: $(CURDIR)/debian/fake-home
	dh_auto_install --buildsystem=python_distutils -- --skip-xdg-cmd
